@media all and (min-width: 480px) {
    .home {
      padding: 60px 0;
    }
  
    .home form {
      margin: 0 auto;
      max-width: 320px;
    }

    .current-page {
      font-size: 1.5rem;
      vertical-align: middle; }
    
    .card-container {
      height: 60px;
      cursor: pointer;
      position: relative;
      overflow: hidden; }
    
    .card-title {
      font-size: 0.9rem; }
    
    .card-subtitle {
      font-size: 0.7rem; }
    
    .current-page,
    .card-title,
    .card-subtitle {
      line-height: 1; }
    
    /* Override some Bootstrap pagination styles */
    ul.pagination {
      margin-top: 0;
      margin-bottom: 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
      ul.pagination li.page-item.active a.page-link {
        color: #445565 !important;
        background-color: #e3e7eb !important;
        border-color: #ced4da !important; }
      ul.pagination a.page-link {
        padding: 0.75rem 1rem;
        min-width: 3.5rem;
        text-align: center;
        box-shadow: none !important;
        border-color: #ced4da !important;
        color: #6b88a4;
        font-weight: 900;
        font-size: 1rem; }
        ul.pagination a.page-link:hover {
          background-color: #f4f4f4; }
  }

  